.formTitle {
    text-align: center;
    font-size: 1.37rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.loginForm {
    width: 100%;
}

.otpButton {
    width: 100%;
    height: 54px;
    cursor: pointer;
    background: #5832ff;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.31rem;
    border: none;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
}

.otpButton:hover {
    background: #4a2fe6;
    transition: all 0.3s ease-in-out;
}

.otpButton:active {
    background: #3924ae;
    transition: all 0.3s ease-in-out;
}

.otpText {
    margin-top: 1rem;
}

.verifyButton {
    margin-bottom: 0rem;
}