
.feed-container {
    margin: auto;
    margin-top: 20px;
    width: 95%;
}

.post {
    display: flex;
    background-color: #0E1113;
    padding: 15px;
    padding-bottom: 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.post:hover{
    background-color: #181C1F;
    cursor: pointer;
}

.post-content {
    max-width: 100%;
}

.post-title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
    color: white;
}

.post-author {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.post-text {
    font-size: 16px;
    color: white ;
}

.post-vote {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
    margin-left: -85px;
}

.post-vote button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.post-vote span {
    display: flex;
    font-weight: bold;
    margin: 5px 0;
    font-weight: 100;
    font-size: 15px;
    color: white;
}
